// LAYOUT

.logo {
  width: fit-content;
  margin: 0 auto;
  animation: logoOpen 0.5s 0.2s backwards;
}

@keyframes logoOpen {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
}

.logo-band {
  padding: 10vh 0 5vh;
}

.out-now-container {
  position: relative;
  width: fit-content;
  margin: 10vh auto 3vh;

  .out-now {
    animation: outNowOpen 1s 0.5s both cubic-bezier(0.19, 1, 0.22, 1);
  }
}

@keyframes outNowOpen {
  from {
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
  }
  to {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
}

.line {
  position: absolute;
  background: #fff;
  width: 5px;
  top: 0;
  bottom: 0;
  animation: lineOpen 2s both cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes lineOpen {
  0% {
    left: 100%;
    opacity: 0;
    top: 50%;
    bottom: 50%;
  }
  25% {
    left: 100%;
    top: 0;
    bottom: 0;
    opacity: 1;
    box-shadow: none;
  }
  35% {
    opacity: 0.5;
    box-shadow:
      #fffd 0.5vh 0,
      #fffb 1vh 0,
      #fff9 1.5vh 0,
      #fff7 2vh 0,
      #fff5 2.5vh 0,
      #fff3 3vh 0,
      #fff1 3.5vh 0;
  }
  75% {
    left: 0;
    top: 0;
    bottom: 0;
    box-shadow: none;
  }
  99% {
    top: 50%;
    bottom: 50%;
    opacity: 1;
  }
  100% {
    top: 50%;
    bottom: 50%;
    left: 0;
    opacity: 0;
  }
}

.band {
  margin: 0 auto;
  background: #222;
  border-top: #444 solid 3px;
  border-bottom: $accent solid 4px;
  text-align: center;
  padding: 30px;
  box-shadow: #0005 0 5px 10px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

  // animation: bandOpen 0.75s 0.1s both;
}

@keyframes bandOpen {
  from {
    transform: scale(0.8);
    clip-path: polygon(50% -100px, 50% calc(100% + 100px), 50% calc(100% + 100px), 50% -100px);
  }
  to {
    clip-path: polygon(0 -100px, 0  calc(100% + 100px), 100%  calc(100% + 100px), 100% -100px);
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #000;
  font-size: 0.8em;
  line-height: 60px;
  text-align: center;

  a {
    padding: 0 10px;
  }
}

.main {
  padding: 50px 50px 60px;
  margin: 0 auto;
  max-width: 1000px;
}
