// TEXT

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1, h2 {
  border-bottom: #aaa solid 1px;
}

h3, h4 {
  color: #363b50;
  border-bottom: #aaa solid 1px;
}

h5, h6 {
  color: #71758b;
}