/* Theme Base */

.theme-original {
  color: $secondary-foreground;
  transition: color 0.1s;

  &:hover {
    color: $diamond;
  }
}

.theme-installed {
  color: $secondary-foreground;
  transition: color 0.1s;

  &:hover {
    color: $green;
  }
}

.theme-tags {
  white-space: nowrap;
  font-size: 0.7rem;
  text-align: right;
}

.theme-icon {
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
  }

  .icon-placeholder {
    background: $accent;
  }
}

.theme-info {
  .theme-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .theme-original-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $secondary-foreground;
  }

  .theme-details {
    .theme-version {
      color: $muted-foreground;
    }

    .theme-author {
      color: $muted-foreground;
    }
  }

  .theme-description {
    .no-description {
      color: $muted-foreground;
      font-style: italic;
    }
  }
}
