/* Theme Item */

.theme-item-component {
  position: relative;
  display: flex;
  gap: 10px;
  height: 100px;
  border-radius: 50px 3px 3px 50px;
  margin-bottom: 5px;
  transition: background-color 0.2s, box-shadow 0.2s, opacity 0.2s;
  cursor: pointer;

  &:hover:not(.dragover), &.dragged {
    background: $background-modifier-hover;
    transition: background-color 0.1s, opacity 0.2s;

    .arrow {
      opacity: 1;
      transition: opacity 0.1s;
    }
  }

  .theme-icon {
    flex-shrink: 0;
    margin: 5px 0 5px 5px;
    height: 90px;
    width: 90px;

    img {
      width: 100%;
      height: 100%;
    }

    .icon-placeholder {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 2.5rem;
      color: $accent;
      background: currentColor;

      i {
        color: $accent-foreground;
      }
    }
  }

  .theme-info {
    flex-grow: 1;
    width: 0;
    overflow: hidden;

    .theme-header {
      display: flex;
      align-items: center;

      .theme-name {
        flex: 1 1 auto;
      }

      .theme-original {
        flex: 0 1 auto;
        margin: 0 5px;
      }
    }

    .theme-details {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    .theme-description {
      color: $secondary-foreground;
    }
  }

  &.dragged {
    z-index: 1;
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.2s;
  }
  
  &.dragover {
    box-shadow: $accent 0 0 0 4px;
  }
}
