/* Scrollbar */

.scroll {
  overflow: scroll;
  scroll-behavior: smooth;

  &.x {
    overflow: scroll hidden;
  }
  &.y {
    overflow: hidden scroll;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &.auto {
    overflow: auto;
    &.x {
      overflow: auto hidden;
    }
    &.y {
      overflow: hidden auto;
    }
  }

  &.show {
    overflow: scroll;
    &.x {
      overflow: scroll hidden;
    }
    &.y {
      overflow: hidden scroll;
    }
  }

  &.auto,
  &.show {
    &::-webkit-scrollbar {
      width: 14px;
      height: 14px;
    }

    &::-webkit-scrollbar-track {
      background-color: $scrollbar-track;
      background-clip: padding-box;
      border: 3px solid transparent;
      border-radius: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-thumb;
      background-clip: padding-box;
      border: 3px solid transparent;
      border-radius: 7px;
      min-height: 30px;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }

    &.thin {
      &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        border-radius: 3.5px;
        min-height: 20px;
      }

      &::-webkit-scrollbar-corner {
        background-color: transparent;
      }
    }
  }
}
