/* Variables */

$accent: var(--accent);
$accent-foreground: var(--accent-foreground);

$gold: var(--gold);

$primary-background: var(--primary-background);
$secondary-background: var(--secondary-background);
$tertiary-background: var(--tertiary-background);

$background-modifier-unfocused: var(--background-modifier-unfocused);
$background-modifier-selected: var(--background-modifier-selected);
$background-modifier-hover: var(--background-modifier-hover);
$background-modifier-active: var(--background-modifier-active);

$popup-background: var(--popup-background);
$popup-foreground: var(--popup-foreground);

$primary-foreground: var(--primary-foreground);
$secondary-foreground: var(--secondary-foreground);
$muted-foreground: var(--muted-foreground);

$warning: var(--warning);
$warning-background: var(--warning-background);
$warning-foreground: var(--warning-foreground);

$error: var(--error);
$error-background: var(--error-background);
$error-foreground: var(--error-foreground);

$success: var(--success);
$success-background: var(--success-background);
$success-foreground: var(--success-foreground);

$button: var(--button);
$button-foreground: var(--button-foreground);
$button-highlight: var(--button-highlight);
$button-highlight-foreground: var(--button-highlight-foreground);

$scrollbar-track: var(--scrollbar-track);
$scrollbar-thumb: var(--scrollbar-thumb);

$elevation-high: var(--elevation-high);
$elevation-medium: var(--elevation-medium);
$elevation-low: var(--elevation-low);

$font: var(--font);
$header-font: var(--header-font);

:root {
  --accent: #39f;
  --accent-foreground: #fff;

  --gold: #ffd000;

  --primary-background: #222;
  --secondary-background: #171717;
  --tertiary-background: #252525;
  
  --background-modifier-unfocused: #0006;
  --background-modifier-selected: #fff1;
  --background-modifier-hover: #fff2;
  --background-modifier-active: #fff4;

  --popup-background: #373737;
  --popup-foreground: #fff;

  --primary-foreground: #fff;
  --secondary-foreground: #757575;
  --muted-foreground: #626262;

  --warning: #fc4;
  --warning-background: #221808;
  --warning-foreground: #000;

  --error: #f44;
  --error-background: #220808;
  --error-foreground: #fff;

  --success: #6dd656;
  --success-background: #10290a;
  --success-foreground: #fff;

  --button: #000;
  --button-foreground: #fff;
  --button-highlight: #fff;
  --button-highlight-foreground: #000;

  --scrollbar-track: #1d1d1d;
  --scrollbar-thumb: #2f2f2f;

  --elevation-high: #0006 0 5px 10px;
  --elevation-medium: #0006 0 2px 5px;
  --elevation-low: #0006 0 1px 2px;

  --font: Heebo, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --header-font: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}