// Other

/* Label */
.label {
  color: inherit;

  &.label-default {
    background: $button;
    color: $button-foreground;
  }

  &.label-primary, &.label-info {
    background: $accent;
    color: $accent-foreground;
  }

  &.label-warning {
    background: $warning;
    color: $warning-foreground;
  }
  
  &.label-danger {
    background: $error;
    color: $error-foreground;
  }

  &.label-success {
    background: $success;
    color: $success-foreground;
  }
}

// Help block

.help-block {
  color: $muted-foreground;
}
