:root {
  --primary-background: #fafafa;
  --secondary-background: #fdfdfd;
  --tertiary-background: #fff;
  
  --background-modifier-unfocused: #0006;
  --background-modifier-selected: #0000000a;
  --background-modifier-hover: #00000015;
  --background-modifier-active: #0003;

  --popup-background: #fff;
  --popup-foreground: #000;

  --primary-foreground: #000;
  --secondary-foreground: #777;
  --muted-foreground: #aaa;

  --warning: #fc4;
  --warning-background: #221808;
  --warning-foreground: #000;

  --error: #f44;
  --error-background: #220808;
  --error-foreground: #fff;

  --success: #6dd656;
  --success-background: #10290a;
  --success-foreground: #fff;

  --button: #f1f1f1;
  --button-foreground: #000;
  --button-highlight: #222;
  --button-highlight-foreground: #fff;

  --scrollbar-track: #eee;
  --scrollbar-thumb: #d1d1d1;
}


.theme-item-component:hover {
  background: #0001;
}