.app-card-component {
  position: relative;

  .app-card-body {
    display: block;
    position: relative;
    flex: 0 0 auto;
    padding: 20px 30px 30px;
    background: $secondary-background;
    color: $primary-foreground;
    font-family: $font;
    border: none;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    box-shadow: $elevation-medium;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;

    &::after {
      content: '';
      position: absolute;
      inset: 100% 0 0;
      background: $accent;
      transition: top 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    }

    .app-card-icon {
      position: relative;
      z-index: 1;
      background: var(--background, $accent);
      color: var(--color, $accent-foreground);
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
      border-radius: 50%;
      line-height: 100px;
      font-size: 3rem;
      box-shadow: $elevation-medium;
      transition: 0.2s ease-in-out;
      overflow: hidden;

      i {
        line-height: inherit;
      }
    }

    .app-card-name {
      position: relative;
      z-index: 1;
      width: 130px;
      font-size: 1.2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 -15px;
      transition: inherit;
    }

    &:hover, &:focus-visible {
      outline: none;
  
      &::after {
        top: 0;
      }
  
      .app-card-icon {
        background: $accent-foreground;
        color: $accent;
        transform: scale(1.1);
        box-shadow: none;
      }
  
      .app-card-name {
        color: $accent-foreground;
      }
  
      &+.context-menu-button {
        color: $accent-foreground;
      }
    }
    &:active {
      transform: scale(0.98);
    }
  }

  .context-menu-button {
    z-index: 1;
    position: absolute;
    top: 3px;
    right: 3px;
    transition: 0.3s;
  }
}