.app-button-list-component {
  display: flex;
  flex-flow: column nowrap;
  margin: 5px;

  .app-button-list-header  {
    flex: 0 0 auto;
    padding: 10px 10px 5px;
    margin-bottom: 10px;
    color: $secondary-foreground;
    border-bottom: $muted-foreground solid 1px;
  }

  .app-button-component {
    margin: 5px 0;
  }

  .scroll {
    flex: 1 1 auto;
  }
}