/* Button */

.btn {
  appearance: none;
  position: relative;
  background-color: $button;
  color: $button-foreground;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font: 400 1rem $font;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.1em;
  transition: 0.1s ease-in-out;

  &.btn-primary {
    background-color: $accent;
    color: $accent-foreground;

    & > .btn-badge {
      background: $accent-foreground;
      color: $accent;
    }

    &.btn-gloss {
      box-shadow: 0 0 0 0 #0001 inset;
      overflow: hidden;
      position: relative;

      &::after {
        content: '';
        border-left: 10px solid $accent-foreground;
        border-right: 30px solid $accent-foreground;
        position: absolute;
        top: -50px;
        left: -75px;
        height: 155px;
        width: 50px;
        opacity: 0.8;
        transform: rotate(35deg);
        transition: 0.75s, background-color 0.2s, border 0.2s;
      }

      &:hover:not(:disabled) {
        letter-spacing: 0.15em;

        &::after {
          background-color: none;
          border-left: 10px solid $accent;
          border-right: 30px solid $accent;
          opacity: 0.2;
          left: 120%;
          transform: rotate(40deg);
        }
      }
    }

    &:hover:not(:disabled) {
      background-color: $accent-foreground;
      color: $accent;

      & > .btn-badge {
        background: $accent;
        color: $accent-foreground;
      }
    }

    &:not(.btn-no-caps) {
      text-transform: uppercase;
    }

    &:focus-visible {
      border-color: $button-highlight;
    }
  }

  &.btn-transparent {
    background: none;
    color: inherit;
  }

  &.btn-warning {
    color: $warning;

    &:hover:not(:disabled) {
      color: $warning-foreground;
      background-color: $warning;
    }
  }

  &.btn-error {
    color: $error;

    &:hover:not(:disabled) {
      color: $error-foreground;
      background-color: $error;
    }
  }

  &.btn-small {
    padding: 0 0.5rem;
  }

  &:hover:not(:disabled) {
    background-color: $button-highlight;
    color: $button-highlight-foreground;

    & > .btn-badge {
      background: $button-highlight-foreground;
      color: $button-highlight;
    }
  }

  // &:hover:not(:disabled).btn-static {
  //   letter-spacing: 0.1em;
  // }

  &.btn-nospacing,
  &.btn-nospacing:hover:not(:disabled) {
    letter-spacing: 0;
  }

  & > .btn-content {
    // z-index: 2;
    transition: 0.1s;
  }

  & > .btn-badge {
    position: absolute;
    top: 0;
    right: 0;
    background: $accent;
    color: $accent-foreground;
    padding: 0 0.3rem;
    margin: 0.05rem 0 0;
    line-height: 1rem;
    border-radius: 0.5rem;
    font-size: 0.6rem;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
  }

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:active > .btn-content {
    transform: scale(0.97);
  }

  &:focus-visible {
    outline: none;
    border-color: $accent;
  }
}
