/* Context Menu */

.context-menu {
  z-index: 10;

  .menu-content {
    background: $popup-background;
    border-radius: 5px;
    box-shadow: $elevation-low;
    padding: 10px 0;
    max-width: 350px;
    overflow: hidden;

    & > button, & > a  {
      appearance: none;
      display: block;
      background: none;
      color: $primary-foreground;
      text-decoration: none;
      min-width: 150px;
      width: 100%;
      border: 2px solid transparent;
      text-align: left;
      padding: 0.2rem 1rem;
      font: 400 1rem $font;
      letter-spacing: 0.1em;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover:not(:disabled) {
        color: $button-highlight-foreground;
        background: $button-highlight;
        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
      }

      &:disabled {
        opacity: 0.5;
      }

      &.context-submenu-button {
        position: relative;

        i.arrow {
          position: absolute;
          right: 5px;
        }
      }

      &.error {
        color: $error;

        &:hover:not(:disabled) {
          color: $error-foreground;
          background: $error;
        }
      }
    }
    
    .divider {
      color: $muted-foreground;
      border-bottom: currentColor solid 1px;
      padding: 0 5px;
      margin: 3px 10px;
      font-size: 0.8rem;
    }
    .header {
      background: $accent;
      color: $accent-foreground;
      padding: 7px 15px;
      margin: -10px 0 5px;
      font-family: $header-font;
      font-size: 1rem;
      box-shadow: $elevation-low;
    }

    .context-menu {
      padding: 0 5px;
    }

  }

  &.warning .menu-content {
    color: $warning;
    background: $warning-background;
    border: $warning solid 2px;
  }

  &.error .menu-content {
    color: $error;
    background: $error-background;
    border: $error solid 2px;
  }

  &-enter-active {
    transition: none 0.15s;

    .menu-content {
      clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
      transition: all 0.15s cubic-bezier(0.19, 1, 0.22, 1);
      transform: none;
    }
  }
  &-enter-from {
    .menu-content {
      transform: translateY(-10px);
      clip-path: polygon(
        0 10px,
        0 90%,
        100% 90%,
        100% 10px);
    }
  }
  &-leave-active {
    transition: opacity 0.1s;
  }
  &-leave-to {
    opacity: 0;
  }
}

.context-menu-button {
  background: none;
  color: inherit;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.1s;

  &:hover, &:focus-visible {
    background-color: $background-modifier-hover;
    outline: none;
  }

  &:active {
    background-color: $background-modifier-active;
  }
}