/* News Renderer */

.news-modal .modal {
  width: 50vw;
  height: calc(100vh - 200px);
  min-height: 580px;

  .modal-content {
    padding: 0;
    height: 0;
  }
}

.component-news-renderer {
  height: 100%;
  // flex: 0 0 100px;

  .news-date {
    text-align: right;
    color: $secondary-foreground;
    padding: 0 1rem;
    margin-bottom: -2rem;
    margin-top: 1rem;
    line-height: 1rem;
  }

  .news-content {
    user-select: text;
    padding: 20px 30px;

    * {
      position: relative;
    }

    .no-news {
      text-align: center;
      color: $secondary-foreground;
      margin: 0 50px;
    }

    .loader-container {
      text-align: center;

      .loader {
        display: block;
        margin: 1rem auto 2rem;
        font-size: 3rem;
      }
    }

    // Headings
    h1, h2, h3, h4 {
      border-bottom: $muted-foreground solid 1px;
      margin: 10px 0;
      padding: 0 5px;
    }

    h2 {
      font-weight: 500;
      font-size: 1.2rem;
    }
    h3 {
      font-weight: 500;
      font-size: 1.1rem;
      color: $secondary-foreground;
    }
    h4 {
      font-weight: 500;
      font-size: 1rem;
      color: $secondary-foreground;
    }

    h5, h6 {
      font-weight: 700;
      padding: 0 5px;
      margin: 10px 0;
      color: $muted-foreground;
    }
    h5 {
      font-size: 0.9rem;
    }
    h6 {
      font-size: 0.8rem;
    }

    // Section Seperator
    .section {
      background: currentColor;
      color: $muted-foreground;
      height: 2px;
      margin: 20px 10px;
      line-height: 2px;
      font-weight: 700;
      font-size: 0.8rem;

      span {
        background: $primary-background;
        margin-left: 5px;
        padding: 0 5px;
      }
    }

    // Paragraph
    p {
      margin: 5px;
    }

    // Lists
    ul, ol {
      padding-left: 1.5rem;
      margin: 5px 0;

      li {
        margin: 5px 0;

        &::marker {
          color: $muted-foreground;
          font-weight: 700;
        }
      }
    }

    ul {
      list-style-type: disc;
    }

    // Image
    img {
      width: 100%;
      margin: 15px 0;
      border-radius: 7px;
      box-shadow: $elevation-medium;
    }

    // Colors
    .red {
      color: $red;
    }
    .green {
      color: $green;
    }
    .blue {
      color: $blue;
    }
    .yellow {
      color: $yellow;
    }
    .muted {
      color: $muted-foreground;
    }
    .secondary {
      color: $secondary-foreground;
    }
  }
}