/* Notification */

.notification-component {
  background: $accent;
  color: $accent-foreground;
  width: fit-content;
  margin-left: auto;
  padding: 0 20px;
  line-height: 40px;
  border-radius: 5px;
  margin-bottom: 5px;
  max-width: 400px;
  box-shadow: $elevation-medium;
  white-space: nowrap;
  transition: 0.2s;
  filter: brightness(0.3);

  &:nth-child(1) { filter: brightness(1); }
  &:nth-child(2) { filter: brightness(0.9); }
  &:nth-child(3) { filter: brightness(0.8); }
  &:nth-child(4) { filter: brightness(0.7); }
  &:nth-child(5) { filter: brightness(0.6); }
  &:nth-child(6) { filter: brightness(0.5); }
  &:nth-child(7) { filter: brightness(0.4); }

  .notification-title {
    font-weight: 700;
    font-family: $header-font;
  }

  // .notification-message {
  // }

  &.notification-error {
    background: $error-background;
    color: $error;
    border: $error solid 2px;
  }

  &.notification-warning {
    background: $warning-background;
    color: $warning;
    border: $warning solid 2px;
  }

  &.notification-success {
    background: $success;
    color: $success-foreground;
  }

  &.notifications-list {
    &-leave-active {
      clip-path: inset(0);
    }

    &-enter-from {
      opacity: 0;
      margin-bottom: -45px;
      transform: translateX(100%);
    }
    &-leave-to {
      opacity: 0;
    }
  }
}
