/* Page Controls */

.page-controls-component {
  user-select: text;
  white-space: nowrap;

  .page-control {
    background: none;
    border: none;
    color: $primary-foreground;
    padding: 0 5px;
    font-size: 16px;
    width: 40px;
    line-height: 30px;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: $background-modifier-hover;
    }

    &:active {
      background-color: $background-modifier-active;
    }
  }

  .url {
    display: inline;
    padding: 0 5px;
    line-height: 30px;

    .url-protocol {
      color: $secondary-foreground;

      .tooltip-activator {
        display: inline;
      }
      .tooltip {
        user-select: none;
      }
    }

    .url-path {
      color: $secondary-foreground;
    }
  }
}
