/* Startmenu */

.startmenu-component {
  display: flex;
  flex-flow: column nowrap;

  .user-info {
    z-index: 1;
    flex: 0 0 auto;
    position: relative;
    // background: linear-gradient(
    //   #ff3b3b percentage(1/6),
    //   #ff993a percentage(1/6), #ff993a percentage(2/6),
    //   #ffec45 percentage(2/6), #ffec45 percentage(3/6),
    //   #47c447 percentage(3/6), #47c447 percentage(4/6),
    //   #4973ff percentage(4/6), #4973ff percentage(5/6),
    //   #6c2ba5 percentage(5/6),
    // );
    background: $accent;
    color: $accent-foreground;
    padding: 20px 15px;
    box-shadow: $elevation-low;

    // &::before {
    //   z-index: -1;
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: -10px;
    //   width: 125px;
    //   height: 100%;
    //   background: $accent;
    //   transform-origin: center 0;
    //   transform: skewX(-15deg);
    // }

    // &::after {
    //   z-index: -1;
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: -10px;
    //   width: 126px;
    //   height: 100%;
    //   background: linear-gradient(#0000, $primary-background);
    //   transform-origin: center 0;
    //   transform: skewX(-15deg);
    // }

    .user-avatar {
      flex-shrink: 0;
      z-index: 1;
      background-image: url(https://start.schulportal.hessen.de/benutzerverwaltung.php?a=userFoto&b=show);
      background-size: cover;
      width: 70px;
      height: 70px;
      margin: 0 0 5px 5px;
      border-radius: 50%;
      box-shadow: $elevation-medium;
    }

    .user-name {
      user-select: text;

      &::selection {
        background: #000;
        color: #fff;
      }
    }


    .user-menu-button {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  .app-list {
    flex-grow: 1;
    padding: 10px 5px;
  }

  .divider {
    color: $muted-foreground;
    margin: 5px;
    padding: 0 5px;
    border-bottom: currentColor solid 1px;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
  }
  
  .app-button {
    display: block;
    width: 100%;
    text-align: left;

    .btn__content {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      i {
        margin-right: 10px;
      }
    }

    &.app-button-active {
      background: $accent;
      color: $accent-foreground;
    }
  }
}
