/* Tooltip */

.tooltip {
  color: $primary-foreground;
  max-width: 400px;
  font-size: 1rem;
  font-family: $font;
  z-index: 100;

  &:not(.can-interact) {
    pointer-events: none;
  }

  .tooltip-box {
    background: $popup-background;
    color: $popup-foreground;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: $elevation-medium;
  }

  &.tooltip-warning {
    .tooltip-box {
      border: currentColor solid 2px;
      background: $warning-background;
      color: $warning;
    }
  }
  &.tooltip-error {
    .tooltip-box {
      border: currentColor solid 2px;
      background: $error-background;
      color: $error;
    }
  }

  &-enter-active,
  &-leave-active {
    transition: opacity 0.1s 0.1s;

    .tooltip-box {
      transition: all 0.1s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }

  &-enter-from, &-leave-to {
    opacity: 0;
    
    .tooltip-box {
      transform: scale(0.8);
    }
  }
}
