@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap');

html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  color: #fff;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.control {
  position: absolute;
  inset: 0;
  -webkit-app-region: drag;
}

.container {
  text-align: center;
  padding-bottom: 2rem;
}

.logo-better {
  font-weight: 300;
}

.logo-lanis {
  font-weight: 700;
  color: #39f;
}

#label {
  color: #555;
  /* font-style: italic; */
  font-size: 1rem;
  margin: 0 1rem;
}

h2 {
  font-weight: 500;
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

progress {
  appearance: none;
  position: relative;
  height: 3px;
}

progress::-webkit-progress-bar {
  border-radius: 1.5px;
  background: #555;
}

progress::-webkit-progress-value {
  background: #39f;
}

progress:not([value])::after {
  content: '';
  position: absolute;
  inset: 0;
  background: #39f;
  border-radius: 1.5px;
  animation: progressBarIdle 2s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes progressBarIdle {
  0% {
    left: 0;
    right: 100%;
  }
  30% {
    left: 0;
  }
  70% {
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}
