/* Setting Appearance */

.setting-appearance-view-component {
  .accent-color-select {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;

    .custom-color {
      flex: 0 0 auto;
      background-color: $accent;
      transition: background-color 0.3s;

      .accent-foreground-preview {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 20px;
        height: 20px;
        background: currentColor;
        border-radius: 50%;
        transition: 0.2s;
        background-color: $accent-foreground;
      }

      .icon {
        opacity: 0;
      }

      &:hover {
        .accent-foreground-preview {
          opacity: 0;
        }

        .icon {
          opacity: 1;
        }
      }
    }

    .color-templates {
      flex-grow: 1;
      position: relative;
      height: 50px;
      border-left: $muted-foreground solid 1px;
      overflow: hidden;
      // white-space: nowrap;
    }

    .show-all-colors-button {
      height: 100%;
    }
  }

  .modal-component {
    position: absolute;
    inset: 0 300px 0 0;
    transition: right 0.4s;
  }

  @media screen and (max-width: 1000px) {
    .modal-component {
      position: absolute;
      inset: 0 50px 0 0;
    }
  }

  .custom-colors-modal {
    .modal {
      min-width: unset;
      max-width: unset;
      min-height: unset;
      max-height: unset;
      width: 500px;

      .modal-content {
        display: flex;
        gap: 10px;
        padding: 20px 25px;
      }
    }

    .color-picker-component {
      flex: 0 0 auto;
    }

    .custom-color-templates {
      flex-grow: 1;
      display: flex;
      flex-flow: column nowrap;

      .add-color-button {
        // font-size: 1.3rem;
        line-height: 26px;
      }

      .template-colors {
        margin: 5px -5px 0;
        height: 0;
        flex-grow: 1;

        .template-color {
          margin: 5px;
          border-radius: 3px;
          width: calc(20% - 10px);
          height: 25px;
          box-shadow: $elevation-low;

          &.template-color {
            &-enter-active,
            &-leave-active {
              transition: 0.15s;
            }

            &-enter-from,
            &-leave-to {
              opacity: 0;
              transform: scale(0.5);
              margin-right: calc(-20% + 10px);
            }
          }
        }

        .divider {
          margin-bottom: 5px;

          &.template-color {
            &-enter-active,
            &-leave-active {
              transition: 0.15s;
            }

            &-enter-from,
            &-leave-to {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  .divider {
    color: $secondary-foreground;
    margin-bottom: 10px;
    padding: 0 5px;
    border-bottom: currentColor solid 1px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .all-template-colors {
    max-height: 40vh;

    .template-color {
      margin-bottom: 10px;
    }

  }

  .color-button {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border-radius: 50%;
    border: none;
    background: currentColor;
    cursor: pointer;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: transparent;
      transition: 0.1s;
    }

    .icon {
      display: inline-block;
      color: $accent-foreground;
      font-size: 1.3rem;
      transition: 0.1s;
    }

    &:hover {
      &::after {
        background-color: $background-modifier-hover;
      }
    }
    &:active {
      &::after {
        background-color: $background-modifier-active;
      }
    }

    &.template-color {
      .accent-foreground-preview {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 20px;
        height: 20px;
        background: currentColor;
        border-radius: 50%;
        transition: 0.2s;
      }

      .icon {
        opacity: 0;
      }
  
      &.active {
        .accent-foreground-preview {
          opacity: 0;
        }

        .icon {
          opacity: 1;
        }
      }
    }
  }

  .theme-select {
    display: flex;
    gap: 3px;

    .available-themes,
    .current-themes {
      background: $secondary-background;
      min-height: calc(100vh - 250px);
      flex-grow: 1;
      flex-basis: 50%;
      width: calc(50% - 3px);
      padding: 5px;
    }

    .available-themes {
      border-radius: 5px 0 0 5px;

      .theme-list-leave-to,
      .theme-list-enter-from {
        transform: translateX(100%);
        clip-path: inset(0 100% 0 0);
      }
    }
    .current-themes {
      border-radius: 0 5px 5px 0;

      .theme-list-leave-to,
      .theme-list-enter-from {
        transform: translateX(-100%);
        clip-path: inset(0 0 0 100%);
      }

      .theme-item-component {
        &:hover .arrow {
          transform: rotate(180deg) translateX(6px);
        }

        .arrow {
          transform: rotate(180deg) translateX(3px);
        }
      }
    }

    .theme-list {
      &-enter-active,
      &-leave-active {
        transition: all 0.2s;
        clip-path: inset(0);
      }
      &-enter-from,
      &-leave-to {
        opacity: 0;
        margin-bottom: -100px;
      }
      &-move {
        transition: transform 0.2s;
      }
    }

  //   @media screen and (max-width: 1200px) {
  //     height: auto;
  //     flex-flow: column nowrap;

  //     .available-themes,
  //     .current-themes {
  //       min-height: 300px;
  //     }

  //     .available-themes {
  //       border-radius: 5px 5px 0 0;

  //       .theme-item-component {
  //         &:hover .arrow {
  //           transform: rotate(90deg) translateX(6px);
  //         }

  //         .arrow {
  //           transform: rotate(90deg) translateX(3px);
  //         }
  //       }
  //     }
  //     .current-themes {
  //       border-radius: 0 0 5px 5px;

  //       .theme-item-component {
  //         &:hover .arrow {
  //           transform: rotate(-90deg) translateX(6px);
  //         }

  //         .arrow {
  //           transform: rotate(-90deg) translateX(3px);
  //         }
  //       }
  //     }
  //   }
  }

  .control-buttons {
    margin-top: 5px;

    .btn {
      float: right;
      margin-left: 5px;
    }
  }
}
