/* Setting Appearance */

.setting-appearance-view-component {
  .accent-color-select {
    display: flex;
    flex-flow: row nowrap;
    margin: 10px 0;

    .custom-color {
      flex: 0 0 auto;
      background-color: $accent;
      transition: background-color 0.3s;

      .accent-foreground-preview {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 20px;
        height: 20px;
        background: currentColor;
        border-radius: 50%;
        transition: 0.2s;
        background-color: $accent-foreground;
      }

      .icon {
        opacity: 0;
      }

      &:hover {
        .accent-foreground-preview {
          opacity: 0;
        }

        .icon {
          opacity: 1;
        }
      }
    }

    .color-templates {
      flex-grow: 1;
      position: relative;
      height: 50px;
      border-left: $muted-foreground solid 1px;
      overflow: hidden;
      // white-space: nowrap;
    }

    .show-all-colors-button {
      height: 100%;
    }
  }

  .custom-colors-modal {
    .modal {
      min-width: unset;
      max-width: unset;
      min-height: unset;
      max-height: unset;
      width: 500px;

      .modal-content {
        display: flex;
        gap: 10px;
        padding: 20px 25px;
      }
    }

    .color-picker-component {
      flex: 0 0 auto;
    }

    .custom-color-templates {
      flex-grow: 1;
      display: flex;
      flex-flow: column nowrap;

      .add-color-button {
        // font-size: 1.3rem;
        line-height: 26px;
      }

      .template-colors {
        margin: 5px -5px 0;
        height: 0;
        flex-grow: 1;

        .template-color {
          margin: 5px;
          border-radius: 3px;
          width: calc(20% - 10px);
          height: 25px;
          box-shadow: $elevation-low;

          &.template-color {
            &-enter-active,
            &-leave-active {
              transition: 0.15s;
            }

            &-enter-from,
            &-leave-to {
              opacity: 0;
              transform: scale(0.5);
              margin-right: calc(-20% + 10px);
            }
          }
        }

        .divider {
          margin-bottom: 5px;

          &.template-color {
            &-enter-active,
            &-leave-active {
              transition: 0.15s;
            }

            &-enter-from,
            &-leave-to {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  .divider {
    color: $secondary-foreground;
    margin-bottom: 10px;
    padding: 0 5px;
    border-bottom: currentColor solid 1px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .all-template-colors {
    max-height: 40vh;

    .template-color {
      margin-bottom: 10px;
    }

  }

  .color-button {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border-radius: 50%;
    border: none;
    background: currentColor;
    cursor: pointer;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: transparent;
      transition: 0.1s;
    }

    .icon {
      display: inline-block;
      color: $accent-foreground;
      font-size: 1.3rem;
      transition: 0.1s;
    }

    &:hover {
      &::after {
        background-color: $background-modifier-hover;
      }
    }
    &:active {
      &::after {
        background-color: $background-modifier-active;
      }
    }

    &.template-color {
      .accent-foreground-preview {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 20px;
        height: 20px;
        background: currentColor;
        border-radius: 50%;
        transition: 0.2s;
      }

      .icon {
        opacity: 0;
      }
  
      &.active {
        .accent-foreground-preview {
          opacity: 0;
        }

        .icon {
          opacity: 1;
        }
      }
    }
  }

  .theme-select {
    display: flex;
    gap: 3px;

    .available-themes,
    .current-themes {
      background: $secondary-background;
      height: calc(100vh - 350px);
      min-height: 500px;
      flex-grow: 1;
      flex-basis: 50%;
      width: calc(50% - 3px);
      padding: 5px;
      transition: background-color 0.2s;
    }

    .available-themes {
      border-radius: 5px 0 0 5px;

      .theme-list-leave-to,
      .theme-list-enter-from {
        transform: translateX(100%);
        clip-path: inset(0 100% 0 0);
      }
    }
    .current-themes {
      border-radius: 0 5px 5px 0;

      .theme-list-leave-to,
      .theme-list-enter-from {
        transform: translateX(-100%);
        clip-path: inset(0 0 0 100%);
      }

      .theme-item-component {
        &:hover .arrow {
          transform: rotate(180deg) translateX(6px);
        }

        .arrow {
          transform: rotate(180deg) translateX(3px);
        }
      }
    }

    .theme-list {
      &-enter-active,
      &-leave-active {
        transition: all 0.2s;
        clip-path: inset(0);
      }
      &-enter-from,
      &-leave-to {
        opacity: 0;
        margin-bottom: -100px;
      }
      &-move {
        transition: transform 0.2s;
        pointer-events: none;
      }
    }

    .default-theme,
    .available-themes .theme-item-component:last-child {
      margin-bottom: 0;
    }
  }

  .control-buttons {
    text-align: right;
    margin: -10px 0 10px;

    .btn {
      margin-left: 5px;
    }
  }

  $glitch1: #f0f;
  $glitch2: #0ff;
  $glitch3: #ff0;

  .secret-4b34 {
    &-theme {
      animation: glitchText 1s infinite steps(1), glitchTransform 5s infinite steps(1);

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 5px;
        background: $glitch1;
        animation: glitchLines 1s infinite steps(1);
      }

      .icon-placeholder {
        background: $glitch3;

        i {
          color: #000;
        }
      }
    }

    &-enter-active, &-leave-active {
      animation: glitchOut 0.5s steps(1), glitchBox 0.5s steps(1);

      .icon-placeholder {
        background: $glitch3;

        i {
          color: #000;
        }
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 5px;
        background: $glitch1;
        animation: glitchLines 1s infinite steps(1);
      }
    }
  }

  @keyframes glitchOut {
    0% {
      transform: translateX(random($limit: 100) * 1px - 50px);
    }
    1% {
      transform: translateX(random($limit: 5) * 1px - 50px);
    }
    5% {
      transform: translateX(random($limit: 100) * 1px - 50px);
    }
    8% {
      transform: translateX(random($limit: 5) * 1px - 50px);
    }
    10% {
      transform: translateX(random($limit: 5) * 1px - 50px);
    }
    15% {
      transform: translateX(random($limit: 100) * 1px - 50px);
    }
    18% {
      transform: translateX(random($limit: 5) * 1px - 50px);
    }
    20% {
      transform: translateX(random($limit: 100) * 1px - 50px);
    }
    53% {
      transform: translateX(random($limit: 5) * 1px - 50px);
    }
    57% {
      transform: translateX(random($limit: 5) * 1px - 50px);
    }
    71% {
      transform: translateX(random($limit: 100) * 1px - 50px);
    }
    75% {
      transform: translateX(random($limit: 5) * 1px - 50px);
    }
  }

  @keyframes glitchTransform {
    0% {
      transform: translateX(random($limit: 10) * 1px - 5px);
    }
    20% {
      transform: translateX(random($limit: 20) * 1px - 10px);
    }
    40% {
      transform: translateX(random($limit: 30) * 1px - 15px);
    }
    50% {
      transform: translateX(random($limit: 50) * 1px - 25px);
    }
    60% {
      transform: translateX(random($limit: 100) * 1px - 50px);
    }
    70% {
      transform: translateX(random($limit: 100) * 1px - 50px);
    }
    80% {
      transform: translateX(random($limit: 100) * 1px - 50px);
    }
    90% {
      transform: translateX(random($limit: 100) * 1px - 50px);
    }
  }
  
  @mixin glitchLine {
    $heightRandom: 10;

    top: random($limit: 100) * 1px - $heightRandom * 1px;
    height: random($limit: $heightRandom) * 1px;
    box-shadow: $glitch2 random($limit: 100) * 1px - 50px random($limit: 100) * 1px - 50px 0 random($limit: 2) * 1px - 1px;
  }

  @keyframes glitchLines {

    0% {
      @include glitchLine;
    }
    5% {
      @include glitchLine;
    }
    10% {
      @include glitchLine;
    }
    15% {
      @include glitchLine;
    }
    20% {
      @include glitchLine;
    }
    25% {
      @include glitchLine;
    }
    30% {
      @include glitchLine;
    }
    35% {
      @include glitchLine;
    }
    40% {
      @include glitchLine;
    }
    45% {
      @include glitchLine;
    }
    50% {
      @include glitchLine;
    }
    55% {
      @include glitchLine;
    }
    60% {
      @include glitchLine;
    }
    65% {
      @include glitchLine;
    }
    70% {
      @include glitchLine;
    }
    75% {
      @include glitchLine;
    }
    80% {
      @include glitchLine;
    }
    85% {
      @include glitchLine;
    }
    90% {
      @include glitchLine;
    }
    95% {
      @include glitchLine;
    }
  }

  @keyframes glitchText {
    0% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    5% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    10% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    15% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    20% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    25% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    30% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    35% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    40% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    45% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    50% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    55% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    60% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    65% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    70% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    75% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    80% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    85% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    90% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    95% {
      text-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
  }

  @keyframes glitchBox {
    0% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    5% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    10% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    15% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    20% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    25% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    30% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    35% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    40% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    45% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    50% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    55% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    60% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    65% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    70% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    75% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    80% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    85% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    90% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
    95% {
      box-shadow: $glitch1 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px, $glitch2 random($limit: 10) * 1px - 5px random($limit: 10) * 1px - 5px;
    }
  }
}
