/* Page Unsupported */

.unsupported-view-component {
  background: $tertiary-background;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  .browser {
    height: 100%;
    position: relative;

    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}
