/* Page Settings */

.settings-view-component {
  background: $primary-background;
  padding-right: 300px;

  transition: padding 0.3s;

  .settings-page {
    margin: 0 10px;
    height: 100%;

    & > * {
      height: 100%;
    }

    .wrapper {
      padding: 10px 0;
      max-width: 1000px;
      margin: 0 auto;
    }

    .setting-page-header {
      border-bottom: $muted-foreground solid 1px;
      margin-bottom: 10px;
    }

    .option-container {
      padding: 0 5px;
      margin: 20px 0;

      .option-name {
        margin: 5px 0 20px;
        padding: 0 10px;
        border-bottom: $muted-foreground solid 1px;
        font-size: 1.2rem;
        font-family: $header-font;
      }

      // .option-body {
      // }

      .option-controls {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        margin-top: 5px;
        gap: 5px;
      }
    }

    .option-divider {
      color: $muted-foreground;
      margin: 5px;
      padding: 0 5px;
      border-bottom: currentColor solid 1px;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 700;
    }

    &-enter-active,
    &-leave-active {
      transition: opacity 0.1s;
    }

    &-enter-from,
    &-leave-to {
      opacity: 0;
    }
  }

  &.settingswindow {
    &-enter-active,
    &-leave-active {
      transition: all 0.3s;
    }

    &-enter-from,
    &-leave-to {
      transform: translate(300px);
      opacity: 0;
    }
  }

  @media screen and (max-width: 1000px) {
    padding-right: 50px;
  }
}

.viewer-settings-transition {
  &-enter-active,
  &-leave-active {
    transition: all 0.3s;
  }

  &-enter-from, &-leave-to  {
    transform: translateX(-250px);
    opacity: 0;
  }
}
