/* Page Login */

.login-view-component {
  height: 100%;
  position: relative;

  fieldset {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginform-component {
      z-index: 1;
    }
  }

  .login-backdrop {
    position: absolute;
    height: 100%;
    width: 100%;

    .backdrop-element {
      position: absolute;

      &:nth-child(1) {
        top: 0;
        left: 0;
        height: 50%;
        width: 100%;
      }
    }
  }
}