/* Page Home */

.home-view-component {
  height: 100%;

  .card {
    margin: 20px 5px;
  }

  .main {
    padding: 0 0 100px;

    &:not(.no-sidebar) {
      float: left;
      width: calc(100% - 300px);
      padding-right: 10px;
    }
  }

  .sidebar {
    float: right;
    width: 300px;
  }

  .section-header {
    display: flex;
    padding: 10px 10px 5px;
    margin-bottom: 10px;
    color: $secondary-foreground;
    border-bottom: $muted-foreground solid 1px;

    * {
      flex: 1 0 auto;
    }

    .btn {
      flex: 0 0 auto;
      justify-self: end;
    }
  }

  .recent-apps {
    .app {
      &-enter-active,
      &-leave-active {
        transition: none;
      }
      &-move {
        transition: none;
      }
    }
  }

  .favorite-apps {
    .no-favorites {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      color: $secondary-foreground;
      text-align: center;
      width: 100%;
      height: 208px;
      line-height: 2.5rem;
    }
  }

  .favorite-app-modal {
    .favorite-info {
      color: $secondary-foreground;
      text-align: center;
      margin-top: 10px;
    }

    .scroll {
      max-height: 50vh;
    }

    .favorite-app-button {
      display: block;
      width: 100%;
      text-align: left;

      .btn-content {
        display: flex;
        align-items: center;
      }

      i {
        margin-right: 20px;
      }

      .app-name {
        flex: 1 1 auto;
      }

      .heart-icon {
        margin-right: 0;
        transform: inherit;
      }

      &.is-favorite:not(:hover) {
        .heart-icon {
          color: $accent;
        }
      }
    }
  }
}