/* Page Calendar */

.calendar-view-component {
  height: 100%;
  width: 100%;

  .calendar-controls {
    margin-bottom: 10px;
    display: flex;

    .date-info {
      flex-grow: 1;
      text-align: center;

      .date-current-month {
        font-size: 2rem;
      }

      .date-today {
        cursor: pointer;
        width: fit-content;
        margin: 0 auto;
        color: $secondary-foreground;
        transition: color 0.1s;

        &:hover {
          color: $primary-foreground;
        }
      }
    }
  }

  // ### CALENDAR ### //
  /* Month View */
  .calendar.month-view {
    $header-height: 40px;

    background: $muted-foreground;
    display: grid;
    width: 100%;
    padding: 1px;
    grid-template-rows: $header-height 1fr;
    gap: 1px;

    .calendar-row .row-header,
    .calendar-row .row-skeleton,
    .events {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 1px;
    }

    .calendar-header {
      display: grid;
      grid-template-columns: 50px repeat(7, 1fr);
      grid-row: 1;
      gap: 1px;
    }

    .calendar-header .cell {
      text-align: center;
      font: 700 1.1rem $header-font;
      line-height: $header-height;
      padding: 0 5px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .calendar-row {
      display: grid;
      grid-template-rows: auto auto 1fr;
      grid-template-columns: 50px 1fr;
      min-height: 98px;
      gap: 0 1px;

      .row-week {
        grid-column: 1;
        grid-row: 1 / -1;
        text-align: center;
        padding: 10px 0;
        font: 300 1.5rem $header-font;
  
        span {
          writing-mode: vertical-lr;
          transform: rotate(180deg);
        }
      }

      .row-header {
        z-index: 1;
        grid-row: 1;
        grid-column: 2 / -1;
        pointer-events: none;
        text-align: center;

        .cell {
          padding: 5px 0;
          background-color: unset;

          &.is-today {
            position: relative;

            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 10%;
              right: 10%;
              height: 4px;
              background-color: $accent;
            }
          }

          &.not-this-month {
            color: $secondary-foreground;
          }
        }
      }

      .row-skeleton {
        grid-row: 1 / -1;
        grid-column: 2 / -1;

        .cell {
          div {
            height: 100%;
            transition: all 0.1s;
          }
          &:hover div {
            background-color: $background-modifier-hover;
          }
          &.is-today div {
            background-color: $background-modifier-selected;
          }
          &.is-today:hover div {
            background-color: $background-modifier-active;
          }
        }
      }
    }

    .cell {
      background-color: $tertiary-background;
    }

    .events {
      grid-row: 2;
      grid-column: 2 / -1;
      gap: 2px 3px;
      padding: 1px;
      pointer-events: none;

      .event {
        position: relative;
        pointer-events: all;
        background-color: $accent;
        color: $accent-foreground;
        border-radius: 3px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        transition-property: background-color, border-color, color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;

        div {
          padding: 0 10px;
          position: absolute;
          inset: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &.active {
          background-color: $button-highlight;
          color: $button-highlight-foreground;
        }

        &.no-start {
          border-left-width: 0;
          border-radius: 0 3px 3px 0;
          margin-left: -10px;

          div {
            left: 10px;
          }

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 30px;
            background: $tertiary-background;
            mask-image: linear-gradient(
              to left,
              hsla(0, 0%, 0%, 0) 0%,
              hsla(0, 0%, 0%, 0.013) 8.1%,
              hsla(0, 0%, 0%, 0.049) 15.5%,
              hsla(0, 0%, 0%, 0.104) 22.5%,
              hsla(0, 0%, 0%, 0.175) 29%,
              hsla(0, 0%, 0%, 0.259) 35.3%,
              hsla(0, 0%, 0%, 0.352) 41.2%,
              hsla(0, 0%, 0%, 0.45) 47.1%,
              hsla(0, 0%, 0%, 0.55) 52.9%,
              hsla(0, 0%, 0%, 0.648) 58.8%,
              hsla(0, 0%, 0%, 0.741) 64.7%,
              hsla(0, 0%, 0%, 0.825) 71%,
              hsla(0, 0%, 0%, 0.896) 77.5%,
              hsla(0, 0%, 0%, 0.951) 84.5%,
              hsla(0, 0%, 0%, 0.987) 91.9%,
              hsl(0, 0%, 0%) 100%
            );
          }
        }
        &.no-end {
          border-right-width: 0;
          border-radius: 3px 0 0 3px;
          margin-right: -10px;

          div {
            right: 10px;
          }

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 30px;
            background: $tertiary-background;
            mask-image: linear-gradient(
              to right,
              hsla(0, 0%, 0%, 0) 0%,
              hsla(0, 0%, 0%, 0.013) 8.1%,
              hsla(0, 0%, 0%, 0.049) 15.5%,
              hsla(0, 0%, 0%, 0.104) 22.5%,
              hsla(0, 0%, 0%, 0.175) 29%,
              hsla(0, 0%, 0%, 0.259) 35.3%,
              hsla(0, 0%, 0%, 0.352) 41.2%,
              hsla(0, 0%, 0%, 0.45) 47.1%,
              hsla(0, 0%, 0%, 0.55) 52.9%,
              hsla(0, 0%, 0%, 0.648) 58.8%,
              hsla(0, 0%, 0%, 0.741) 64.7%,
              hsla(0, 0%, 0%, 0.825) 71%,
              hsla(0, 0%, 0%, 0.896) 77.5%,
              hsla(0, 0%, 0%, 0.951) 84.5%,
              hsla(0, 0%, 0%, 0.987) 91.9%,
              hsl(0, 0%, 0%) 100%
            );
          }
        }
        &.no-end.no-start {
          border-radius: 0;
        }
      }
    }
  }

  .event-details {
    .event-description, .event-no-description {
      margin-bottom: 10px;
      font-size: 1.1rem;
    }
    .event-no-description {
      color: $muted-foreground;
      font-style: italic;
    }
  }
}
