
@mixin bl-scrollbar {
  &::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }
  
  &::-webkit-scrollbar-track {
    background-color: $scrollbar-track;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 7px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 7px;
    min-height: 30px;
  }
  
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

@mixin bl-scrollbar-thin {
  @include bl-scrollbar;

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 3.5px;
    min-height: 20px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}